{% extends "layout.html" %} {% block title %}Teams{% endblock %} {% block
content %}
<div class="text-center mt-5 mb-3">
  <h1>Teams</h1>
  <hr class="mx-auto" style="width: 90%; border-top: 3px solid #ccc" />
</div>

<div class="row">
  {% for team in teams %}
  <div class="col-md-3 mb-4">
    <div class="card h-100 shadow-sm">
      <div class="card-body d-flex justify-content-center align-items-center">
        <h5 class="card-title text-center mb-0">
          <a href="/teams/{{ team.team_id }}/" class="team-link"
            >{{ team.name }}</a
          >
        </h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
